<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized Context="routeViewContext">
                    <AuthorizeView>
                        <Authorized Context="authorizedState">
                            <LayoutView Layout="@typeof(MainLayout)">
                                <p class="alert alert-warning m-3">You are not authorized to access this page.</p>
                            </LayoutView>
                        </Authorized>
                        <NotAuthorized Context="unauthorizedState">
                            <LayoutView Layout="@typeof(MainLayout)">
                                <RedirectToLogin />
                            </LayoutView>
                        </NotAuthorized>
                    </AuthorizeView>
                </NotAuthorized>
                <Authorizing>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <p class="m-3">Authorizing...</p>
                    </LayoutView>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
